@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --heading : #393A56;
    --text : #7E7F85;
    --theme : #FD5353;
    --bg : #F7F8F9;
    --footerBg : #415161;
}

body {
    font-family: 'Poppins';
    overflow-x: hidden;
}
h1, h2, h3, h4, h5 {
    color: var(--heading);
}
p {
    color: var(--text);
}
a {
    text-decoration: none;
}
ul {
    list-style: none;
}
.container {
    width: 80%;
    margin: auto;
}

/* Buttons */
.menubtn img {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 30px;
    display: none;
}
.button {
    padding: 10px 16px;
    margin-top: 30px;
    background-color: var(--theme);
    color: whitesmoke;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
}

/* Header Section */
.header {
    background-color: var(--bg);
    width: 100vw;
    height: 90vh;
}
.navbar {
    display: flex;
    justify-content: space-between;
}
.navlist {
    display: flex;
    align-items: center;
}
.navlist li {
    margin: 0 20px;
}
.navlist li a {
    color: var(--heading);
}
.navlist li img {
    width: 50px;
}
.header-content {
    display: flex;
    align-items: center;
}
.header-content img {
    max-width: 90%;
    display: block;
} 
.header-text { 
    flex: 60%;
}
.line {
    width: 150px;
    height: 4px;
    border-radius: 5px;
    background-color: var(--theme);
}
.header-text h1 {
    font-size: 50px;
}
.header-text h3, p {
    margin: 15px 0;
}

/* Category Section */
#categories {
    display: flex;
    justify-content: space-between;
    margin: 80px auto;
}
.category {
    text-align: center;
}

/* Featured Product Section */
#featured-products {
    margin: 80px auto;
}
.section-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 80px auto;
}
.section-info h1 {
    font-size: 40px;
}
.section-products {
    display: flex;
    justify-content: space-between;
}

/* Offer Section */
#offer {
    margin: 80px auto;
    background-color: var(--bg);
}
#offer .container {
    display: flex;
    align-items: center;
}
#offer .container img {
    max-width: 600px;
}
#offer h1 {
    font-size: 40px;
}

/* Featured Companies Section */
#featured-companies {
    margin: 150px auto;
    display: flex;
    justify-content: space-between;
}

/* Footer */
footer {
    background-color: var(--footerBg);
}
.footer-content {
    display: flex;
    align-items: center;
    padding: 80px 0;
}
.footer-content .col {
    flex: 1;
    margin: 0 20px;
}
footer h3 {
    color: whitesmoke;
}
footer p, .col li, .col li a {
    color: #a6c4e2;
}
.copyright {
    text-align: center;
    padding: 10px 0;
}

/* For mobile devices */
@media only screen and (max-width:750px) {

    /* Navigation Section */
    .menubtn img {
        display: block;
    }
    .navbar {
        flex-direction: column;
    }
    .navlist {
        flex-direction: column;
        background-color: var(--footerBg);
        width: 100vw;
        height: 100vh;
        position: absolute;
        top: 0;
        left: 0;
        margin-top: -900px;
        transition: all 1s ease-in-out; /* click on menu button */
    }
    .navlist.active {
        margin-top: 0;
    }
    .navlist li {
        margin: 20px 0;
    }
    .navlist li a {
        color: #a6c4e2;
    }
    .brand img {
        width: 100px;
    }
    .container {
        width: 90%;
    }

    /* Header-content Section */
    .header {
        height: 100%;
    }
    .header .container {
        padding: 20px 0;
    }
    .header-content {
        flex-direction: column;
    }
    .header-content h1 {
        font-size: 40px;
    }
    .header-content img {
        margin: 30px auto;
    }
    .line {
        width: 100px;
    }

    /* Categories Section */
    #categories {
        flex-direction: column;
    }
    .category {
        margin: 20px auto;
    }
    .category img {
        max-width: 90%;
    }

    /* Featured Products Section */
    .section-products {
        flex-direction: column;
        justify-content: center;
    }
    .section-info h1 {
        text-align: center;
        font-size: 30px;
    }
    .product {
        margin: 20px auto;
        text-align: center;
    }
    .product img {
        max-width: 90%;
    }

    /* Offer Section */
    #offer .container {
        flex-direction: column;
        padding: 40px;
    }
    #offer .container img {
        max-width: 90%;
    }
    #offer .container h1 {
        font-size: 30px;
    }
    .offer-content {
        margin-top: 20px;
    }

    /* Featured Companies Section */
    #featured-companies {
        flex-direction: column;
        margin: 80px auto;
    }
    #featured-companies img {
        margin: 30px auto;
    }

    /* Footer Section */
    .footer-content {
        flex-direction: column;
        justify-content: start;
        align-items: flex-start;
        padding: 30px 0;
    }
    .footer-content .col {
        margin: 10px 0;
    }
}