@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --heading : #393A56;
    --text : #7E7F85;
    --theme : #FD5353;
    --bg : #F7F8F9;
    --footerBg : #415161;
}

body {
    font-family: 'Poppins';
    overflow-x: hidden;
}
h1, h2, h3, h4, h5 {
    color: var(--heading);
}
p {
    color: var(--text);
}
a {
    text-decoration: none;
}
ul {
    list-style: none;
}
.container {
    width: 80%;
    margin: auto;
}

/* Header Section */
.header {
    background-color: var(--bg);
    width: 100vw;
    height: 90vh;
}
.navbar {
    display: flex;
    justify-content: space-between;
}
.navlist {
    display: flex;
    align-items: center;
}
.navlist li {
    margin: 0 20px;
}
.navlist li a {
    color: var(--heading);
}
.navlist li img {
    width: 50px;
}
.header-content {
    display: flex;
    align-items: center;
}
.header-content img {
    max-width: 90%;
} 
.header-text { 
    flex: 60%;
}
.line {
    width: 150px;
    height: 4px;
    border-radius: 5px;
    background-color: var(--theme);
}
.header-text h1 {
    font-weight: 50px;
}
.header-text h3, p {
    margin: 15px 0;
}
.button {
    padding: 10px 16px;
    margin-top: 30px;
    background-color: var(--theme);
    color: whitesmoke;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
}

/* Category Section */
#categories {
    display: flex;
    justify-content: space-between;
    margin: 80px auto;
}
.category {
    text-align: center;
}

/* Featured Product Section */
#featured-products {
    margin: 80px auto;
}
.section-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 80px auto;
}
.section-products {
    display: flex;
    justify-content: space-between;
}